{% extends 'core/layout.html' %}

{% load static %}

{% block title %}
John McGurk - Portfolio Website
{% endblock %}

{% block body %}
<div class="modal">
    <div class="modal-inner gradient-border ">
        <div class="bg-light"></div>
        <div class="modal-content flex flex-column">
            <div class="email-animation">
              
            </div>
            <p>Your E-mail has been sent!</p>
            
            <span class="button modal-close gradient-border">Finished</span>
        </div>
    </div>
</div>
    <div id="top" class="flex-column">
        <div class="bg-light"></div>

        <div class="container">
            <header class="flex">
                <div id="header-wave"></div>
                <div class="section-content">
                    <div class="side-line"></div>
                    <p>Hello,</p>
                    <p>I'm <strong class="gradient-text">John McGurk</strong> and I love problem solving</p>
                    <a href="#sub-header" class="button gradient-border">let's begin</a>
                </div>
            </header>
            <div id="sub-header" class="flex">
                <p>Outside of work, I love to push myself to the limits, spending hours learning all about IT, from
                    programming
                    to networks, with the goal of fulfilling my dreams and entering the tech industry.
                    I've also honed my communication and teamworking skills, working across several sectors, in
                    Norway
                    and
                    in
                    the UK.</p> <img id="profile-pic" src="{% static 'core/images/profile-pic.png' %}" alt="">

            </div>
        </div>
    </div>
    <section id="about" class="flex">
        <div class="bg-dark"></div>
        <img src="{% static 'core/images/circuits/line-1.svg' %}" alt="" class="circuit" id="circuit-1">
        <img src="{% static 'core/images/circuits/line-2.svg' %}" alt="" class="circuit" id="circuit-2">
        <img src="{% static 'core/images/circuits/line-3.svg' %}" alt="" class="circuit" id="circuit-3">

        <div class="container">
            <div>
                <div>

                    <h2>About me</h2>
                    <h3>An aspiring IT professional, based deep in the arctic circle.</h3>
                    <p>After a lifelong interest in computers, I've focused on honing my skills over the last years. So
                        far I've
                        worked in several different programming languages, with lots more to come.</p>
                </div>
                <div>

                    <div id="education" class="flex-column">
                        <h2>Education</h2>
                        <div class="flex">
                            <ul class="education-list flex-column">
                                <li>
                                    <h3>UiT - The Arctic University of Norway</h3>
                                    <ul class="primary education-sublist">
                                        <li>Operating Systems</li>
                                        <li>Intro. to Machine Learning and AI</li>
                                    </ul>
                                </li>
                                <li>
                                    <h3>Leeds Beckett University</h3>
                                    <ul class="primary education-sublist">
                                        <li>Computing Systems</li>
                                        <li>Systems Development</li>
                                        <li>Fundamentals of Computer Programming</li>
                                    </ul>
                                </li>
                            </ul>

                            <ul class="education-list flex-column">
                                <li>
                                    <h3>Harvard University</h3>
                                    <ul class="primary education-sublist">
                                        <li>CS50X - Online Course</li>
                                    </ul>
                                </li>
                                <li>
                                    <h3>St. Olav Videregående Skole</h3>
                                    <ul class="primary education-sublist">
                                        <li>International Baccalaureate</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="skills" class="flex-column">
                <h2 id="skills-header">My skills</h2>
                <div class="toolbox">
                    <div class="tool flex-column">
                        <img src="{% static 'core/images/toolbox/html.svg' %}" alt="">
                        <span>HTML5</span>
                    </div>
                    <div class="tool flex-column">
                        <img src="{% static 'core/images/toolbox/css.svg' %}" alt="">
                        <span>CSS3</span>
                    </div>
                    <div class="tool flex-column">
                        <img src="{% static 'core/images/toolbox/javascript.svg' %}" alt="">
                        <span>JavaScript</span>
                    </div>
                    <div class="tool flex-column">
                        <img src="{% static 'core/images/toolbox/python.svg' %}" alt="">
                        <span>Python</span>
                    </div>
                    <div class="tool flex-column">
                        <img src="{% static 'core/images/toolbox/django.svg' %}" alt="">
                        <span>Django</span>
                    </div>
                    <div class="tool flex-column">
                        <img src="{% static 'core/images/toolbox/flask.svg' %}" alt="">
                        <span>Flask</span>
                    </div>
                    <div class="tool flex-column">
                        <img src="{% static 'core/images/toolbox/sql.svg' %}" alt="">
                        <span>SQL</span>
                    </div>
                    <div class="tool flex-column">
                        <img src="{% static 'core/images/toolbox/responsive-websites.svg' %}" alt="">
                        <span>Responsive Websites</span>
                    </div>
                    <div class="tool flex-column">
                        <img src="{% static 'core/images/toolbox/api.svg' %}" alt="">
                        <span>RESTful APIs</span>
                    </div>
                    <div class="tool flex-column">
                        <img src="{% static 'core/images/toolbox/command-line.svg' %}" alt="">
                        <span>Command Line</span>
                    </div>
                    <div class="tool flex-column">
                        <img src="{% static 'core/images/toolbox/git.svg' %}" alt="">
                        <span>Git</span>
                    </div>
                    <div class="tool flex-column">
                        <img src="{% static 'core/images/toolbox/github.svg' %}" alt="">
                        <span>GitHub</span>
                    </div>
                    <div class="tool flex-column">
                        <img src="{% static 'core/images/toolbox/anaconda.svg' %}" alt="">
                        <span>Anaconda</span>
                    </div>
                    <div class="tool flex-column">
                        <img src="{% static 'core/images/toolbox/c.svg' %}" alt="">
                        <span>C</span>
                    </div>
                    <div class="tool flex-column">
                        <img src="{% static 'core/images/toolbox/vscode.svg' %}" alt="">
                        <span>VSCode</span>
                    </div>
                    <div class="tool flex-column">
                        <img src="{% static 'core/images/toolbox/jupyter.svg' %}" alt="">
                        <span>Jupyter Notebooks</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="projects">
        <div class="bg-light"></div>
        <img src="{% static 'core/images/circuits/line-4.svg' %}" alt="" class="circuit" id="circuit-4">
        <img src="{% static 'core/images/circuits/line-5.svg' %}" alt="" class="circuit" id="circuit-5">
        <div class="section-content">
            <div class="container flex-column">
                <h2 id="projects-header">Projects</h2>
                {% for project in projects %}

                <div class="project-card">
                    <img src="{{ project.image.url }}" alt="">
                    <div class="project-card-text">
                        <h3>{{ project.title}}</h3>
                        <div class="technologies">
                            {% for technology in project.tech_list %}
                            <span class="project-tech">{{ technology }}</span>
                            {% endfor %}
                        </div>
                        <p>{{ project.description }}</p>
                        <div class="links">
                            <a href="{{ project.github_link }}"><img src="{% static 'core/images/github.svg' %}" alt="">
                                GitHub</a>
                            {% if project.live_link %}
                            <a href="{{ project.live_link }}"> <img src="{% static 'core/images/ext-link.svg' %}"
                                    alt="">
                                Live Site</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                <a href="" id="resume-button" class="button gradient-border">Résumé</a>
            </div>
        </div>

    </section>
    <section id="contact">
        <div id="bg-contact"></div>
        <img src="{% static 'core/images/circuits/line-6.svg' %}" alt="" class="circuit" id="circuit-6">
        <img src="{% static 'core/images/circuits/line-7.svg' %}" alt="" class="circuit" id="circuit-7">

        <div class="container">
            <div class="section-content">
                <h2>Get in touch</h2>
                <div id="contact-container" class="flex">
                    <form action="" id="contact-form" class="flex-column">
                        <div class="input-wrapper gradient-border">
                            <input id="name" class="form-input" placeholder="" type="text">
                            <span class="placeholder">Name</span>
                        </div>
                        <div class="input-wrapper gradient-border">
                            <input id="email" class="form-input " placeholder="" type="email">
                            <span class="placeholder">E-mail</span>
                        </div>
                        <div class="input-wrapper gradient-border">
                            <textarea id="message" rows="6" class="form-input" placeholder=""></textarea>
                            <span class="placeholder">Message</span>
                        </div>
                        <div class="button-wrapper gradient-border">
                            <input id="contact-form-submit" class="button" type="submit">
                        </div>

                    </form>
                    <div id="contact-icons" class="flex-column">
                        <div class="expanding-element">

                            <img class="expanding-icon" src="{% static 'core/images/phone.svg' %}" alt="">

                            <div class="expanding-text">
                                <span>(+47) 413392253</span>
                            </div>
                        </div>
                        <div class="expanding-element">
                            <img class="expanding-icon" src="{% static 'core/images/linkedin.svg' %}" alt="">
                            <div class="expanding-text">
                                <span>John McGurk</span>
                            </div>
                        </div>
                        <a href="#about" class="expanding-element">
                            <img class="expanding-icon" src="{% static 'core/images/email.svg' %}" alt="">
                            <div class="expanding-text">
                                <span>john.d.mcgurk@hotmail.com</span>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section>

    {% endblock %}