{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'core/images/logo.svg' %}" />
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
    <script src="{% static 'core/app.js' %}"></script>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <nav id="nav-bar">
        <img src="{% static 'core/images/logo.svg' %}" alt="">

        <ul id="nav-links">
            <li><a href="#top">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <div id="hamburger-icon">
            <div id="line-1" class="animation-off"></div>
            <div id="line-2" class="animation-off"></div>
            <div id="line-3" class="animation-off"></div>
        </div>
    </nav>
    {% block body %}
    {% endblock %}
    <svg id="wave-svg" viewBox="0 0 0 0" fill="none" xmlns="http://www.w3.org/2000/svg">
        <defs>
            <clipPath id="wave-mask" clipPathUnits="objectBoundingBox">
                <path
                    d="M0.136084 0.419574C-0.0771517 0.257554 0.00724427 0.074974 0.0750757 0H1L0.998918 1C0.996212 0.982218 0.982814 0.922248 0.950873 0.824623C0.850749 0.562509 0.402629 0.622099 0.136084 0.419574Z" />
            </clipPath>
        </defs>
    </svg>
    <div id="orbital"></div>
</body>

</html>