@font-face {
    font-family: 'gilroyextrabold';
    src: url('fonts/gilroy-extrabold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gilroylight';
    src: url('fonts/gilroy-light-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

:root {
    --tiny: 2rem;
    --small: 2.5rem;
    --medium: 3rem;
    --large: 3.5rem;
    --huge: 6.5rem;

    --primary: #65E5D5;
    --secondary: #3DC9F5;

    --light-bg: #152142;
    --dark-bg: #101931;

}

html {
    scroll-behavior: smooth;
}

/* Layout */

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.container {
    margin-inline: max(4rem, 50% - 1200px/2);
}

/* Decorative Elements */

#orbital {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -5;
    top: 0;
    left: 0;
}

.circuit {
    position: absolute;
    z-index: -8;
}

#circuit-2,
#circuit-4,
#circuit-6,
#circuit-7 {
    left: 0;
}

#circuit-3,
#circuit-5 {
    right: 0;
}

#circuit-1 {
    height: 55rem;
    top: 30rem;
    transform: translateY(-100%);
}

#circuit-3 {
    max-width: 600px;
}

#circuit-4 {
    top: 20rem;
    transform: translateY(-65%);
    max-width: 650px;
}

#circuit-5 {
    bottom: 20rem;
    width: 58%;
    transform: translateY(39%);
}

#circuit-6 {
    top: 40rem;
    transform: translateY(-100%);
    width: 63%;
}

#circuit-7 {
    top: 55rem;
    width: 35%;
}

/* General Styles */

.modal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--nav-bg);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

.modal .modal-inner {
    transform: scale(0.7);
    transition: transform 0.6s;
    position: relative;
    height: 25rem;
    width: 25rem;
    overflow: hidden;
}

.modal.active .modal-inner {
    transform: scale(1);
}

.modal.active {
    display: flex;
    transform: scale(1);
}

.modal-inner {
    width: 50vw;
    height: 90vh;
    border-radius: 1rem;
    position: relative;
}


.modal-inner .modal-content {
    height: 100%;
    width: 100%;

}

.bg-light {
    background: var(--light-bg);
}

.bg-dark {
    background: var(--dark-bg);
}

a.button {
    text-decoration: none;
}


#bg-contact {
    background: linear-gradient(161.86deg, #101931 12.34%, #1A5365 255.79%);
}

.primary {
    color: var(--primary);
}


.bg-dark,
.bg-light,
#bg-contact {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}

.gradient-text {
    background: linear-gradient(90deg, var(--primary), var(--secondary));
    background-clip: text;
    color: transparent;
}

.gradient-border {
    border: none;
    position: relative;
}

.gradient-border::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, var(--primary), var(--secondary)) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: destination-out;
    mask-composite: exclude;
    pointer-events: none;
    z-index: 1;
}

.button::before,
.modal-inner::before {
    border-radius: 2rem;
    border: 0.3rem solid transparent;
}

html {
    font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-family: 'gilroyextrabold', Helvetica, sans-serif;
}

.education-list h3 {
    font-family: 'gilroylight', Helvetica, sans-serif;
}

body {
    color: #fff;
    font-family: 'gilroylight', Helvetica, sans-serif;
    position: relative;
    margin: 0;
}

header,
.button,
.form-input,
.placeholder {
    font-family: 'Jura', Helvetica, sans-serif;
}

canvas {
    position: absolute;
    top: 0;
    z-index: -1;
}

h1 {
    color: aliceblue;
}

.button {
    color: #000;
    font-family: inherit;
    font-size: var(--large);
    padding: 2rem 4rem;
    position: relative;
    border-radius: 2rem;
    cursor: pointer;
    color: #fff;
    background: transparent;
    border: none;
    backdrop-filter: blur(0.4rem);
}

.button:hover {
    background: linear-gradient(270deg, var(--secondary) 0, var(--primary) 100%);
    color: #000;
}

#about,
#projects,
#contact {
    padding-top: 25rem;
    box-sizing: border-box;
}

#about {
    padding-bottom: 25rem;
}

/* Navbar & Header */

#nav-bar {
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    height: 8rem;
    padding: 0rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#nav-bar::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--light-bg);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s;
}

#nav-bar.active::after {
    opacity: 1;
}

#nav-bar img {
    height: 4rem;
}

#nav-links {
    font-size: var(--medium);
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    height: 100%;
}

#nav-bar li {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    cursor: pointer;
    box-sizing: border-box;
    height: 100%;
}

#nav-bar li.active {
    border-bottom: 0.2rem solid;
}

#nav-bar a {
    text-decoration: unset;
    color: unset;
}

header {
    font-size: var(--huge);
    max-width: 100%;

}

header .section-content {
    max-width: 60%;
}

header p {
    margin-top: 0;
}

section,
header {
    align-items: center;
    min-height: 100vh;
}


header .section-content {
    margin: 0 14rem;
}

#wave-svg,
#wave-mask {
    height: 0;
    width: 0;
    position: absolute;
}


#header-wave {
    position: absolute;
    top: 0;
    right: 0;
    clip-path: url("#wave-mask");
    background: #1D2D585C;
    backdrop-filter: blur(10px);
    z-index: -1;
    height: 150vh;
    width: 50%;
}

#sub-header {
    font-size: var(--medium);
    align-items: center;
    position: relative;
    min-height: 600px;
    padding-left: 55%;
}

section {
    font-size: var(--small);
    position: relative;
}

/* About */

#about {

    width: 100%;
    min-height: 100vh;
}

#about .section-content {
    max-width: 30%;
    margin-right: 0;
}

#profile-pic {
    position: absolute;
    width: 50%;
    object-fit: contain;
    max-height: 50vh;
    bottom: 0;
    left: 0%;
}

#education {
    margin: 15rem 0;
}

#education .flex {
    margin: 8rem 0;
    justify-content: center;
}


.education-list {
    list-style: none;
    font-size: var(--small);
    padding: 2rem;
}

.education-list>li {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.education-list h3 {
    font-size: var(--tiny);
    margin: 0;
}

.education-list:first-of-type {
    align-items: flex-end;
    text-align: right;
    border-right: 0.1rem solid;
    gap: 8rem;
}

.education-list:first-of-type>li {
    height: 15rem;
}

.education-list:first-of-type li {
    align-items: flex-end;
}

.education-list:first-of-type>li {
    height: 8rem;
}


.education-list:last-of-type {
    margin-top: 12rem;
    gap: 12rem;
}


.education-sublist {
    font-size: var(--tiny);
    list-style: none;
    padding: 0;
}

#skills {
    margin-bottom: 20rem;
    margin-left: auto;
}

#skills-header {
    align-self: end;
    margin-bottom: 8rem;
}

.toolbox {
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    row-gap: 3rem;
    margin: 4rem 0;
}

.tool {
    position: relative;
    align-items: center;
    font-size: var(--small);
    text-align: center;
    gap: 1rem;
}

.tool img {
    height: 6rem;
}

.section-content {
    position: relative;
}

.side-line {
    border-radius: 1rem;
    position: absolute;
    top: 4%;
    bottom: 0;
    left: -10rem;
    width: 0.6rem;
    background: linear-gradient(var(--primary), var(--secondary));
}

/* Projects */

#projects-header {
    align-self: flex-start;
}

.project-card {
    box-sizing: border-box;
    max-width: 100%;
    overflow: hidden;
    height: 30rem;
    display: flex;
    padding: 0 4rem;
    margin: 2rem;
    transition: 0.2s;
    background: #00000000;
    position: relative;
    font-size: var(--small);
    align-items: center;
}

.project-card h3 {
    margin-top: 0;
}

.technologies {
    display: flex;
    color: var(--primary);
    gap: 4rem;
}

.project-card img {
    max-width: 30%;
    max-height: 100%;
    object-fit: contain;
}

.project-card-text {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-card .links {
    display: flex;
    gap: 4rem;
}

.project-card a {
    text-decoration: none;
    color: unset;
}

.project-card a img {
    height: var(--small);
    transform: translateY(0.4rem);
}

.project-card:after {
    content: "";
    position: absolute;
    border-radius: 8px;
    border: 1px solid #c0c0c044;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, #5d667a96, #21315B96);
    opacity: 0;
    z-index: -1;
    transition: opacity 0.2s;
    backdrop-filter: blur(0.4rem);
}

.project-card:hover:after {
    transition: opacity 0.2s;
    opacity: 1;
}

#resume-button {
    margin: 20rem 0;
    align-self: center;
    background: linear-gradient(270deg, var(--secondary) 0, var(--primary) 100%);
    color: #000;
}

/* Contact */

#contact-container {
    padding: 8rem 0;
}

#contact h2 {
    text-align: center;
    margin-bottom: 15rem;
}

#contact-form {
    gap: 2rem;
    width: 60%;
}

#contact-form li {
    list-style: none;
}

.form-input {
    color: var(--light);
    background: linear-gradient(90deg, rgba(13, 30, 50, 0.25) 0%, rgba(49, 100, 162, 0.25) 100%);
    border-radius: 0.85rem;
    border: none;
    padding: 1.5rem;
    font-size: 2.5rem;
    width: 100%;
    box-sizing: border-box;
    backdrop-filter: blur(0.4rem);
    margin: 0.1rem;
}

textarea.form-input {
    padding-top: 2rem;
    height: 100%;
}

.input-wrapper,
.button-wrapper,
.modal-inner {
    position: relative;
    display: flex;
}

.input-wrapper::before,
.button-wrapper::before {
    border-radius: 1rem;
    border: 0.1rem solid transparent;
}

.input-wrapper .placeholder {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    transition: transform 0.2s;
    transform-origin: left;
    pointer-events: none;
}

.form-input:focus {
    background: linear-gradient(270deg, var(--secondary) 0, var(--primary) 100%);
    outline: none;
    color: #000;
}

.form-input:focus~.placeholder {
    color: #000;
}

.form-input:focus~.placeholder,
.form-input:not(:placeholder-shown)~.placeholder {
    transform: translateY(-65%) scale(0.5);
}

.button-wrapper {
    width: fit-content;
    align-self: flex-end;
}

.button-wrapper .button {
    border-radius: 1rem;
}

#contact-icons {
    width: 40%;
    justify-content: space-around;
    align-items: center;
}

.expanding-element {
    position: relative;
    display: flex;
    gap: 1rem;
}

.expanding-icon,
.expanding-text,
.expanding-element {
    height: 6rem;
}

.expanding-icon,
.expanding-text {
    top: 0;
    left: 0;
}

.expanding-text {
    display: flex;
    align-items: center;
    white-space: nowrap;
    max-width: 0;
    overflow: hidden;
    transition: max-width 0.2s;

}

a.expanding-element {
    text-decoration: none;
    color: unset;
}

.expanding-element:hover .expanding-text {
    max-width: 40rem;
    transition: max-width 0.7s;

}

@media only screen and (max-width: 1200px) {
    :root {
        font-size: 50%;
    }
}

@media only screen and (max-width: 768px) {
    :root {
        font-size: 35%;
        --hamburger-height: 2.5rem;
        --half-hamburger-height: calc(var(--hamburger-height) / 2);
        --negative-half-hamburger-height: calc(-1 * var(--half-hamburger-height));
        --hamburger-width: 3.5rem;
    }

    #orbital {
        display: none;
    }

    #hamburger-icon {
        display: unset;
        position: fixed;
        width: var(--hamburger-width);
        height: var(--hamburger-height);
        cursor: pointer;
        top: 2.5rem;
        right: 2.5rem;

    }

    #hamburger-icon div {
        background: #FFF;
        width: 100%;
        height: 0.3rem;
        position: absolute;
        border-radius: 0.3rem;
        box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2)
    }

    #hamburger-icon #line-1 {
        animation: line-1-rev 0.6s;
        top: 0;
    }

    #hamburger-icon #line-2 {
        animation: line-2-rev 0.6s;
        top: var(--half-hamburger-height);
    }

    #hamburger-icon #line-3 {
        animation: line-3-rev 0.6s;
        top: var(--hamburger-height);
    }

    #hamburger-icon.active #line-1 {
        transform: translate(0, var(--half-hamburger-height)) rotate(45deg);
        animation: line-1 0.6s;
    }

    #hamburger-icon.active #line-2 {
        transform: scale(0);
        animation: line-2 0.6s;
    }

    #hamburger-icon.active #line-3 {
        transform: translate(0, var(--negative-half-hamburger-height)) rotate(135deg);
        animation: line-3 0.6s;
    }

    #nav-links {
        font-size: var(--large);
        position: fixed;
        flex-direction: column;
        justify-content: center;
        gap: 5rem;
        top: 0;
        right: 0;
        width: 50vw;
        height: 100lvh;
        padding: 0;
        background: var(--light-bg);
        transform: translateX(100%);
    }

    #nav-links.active {
        transform: translateX(0);
    }

    #nav-links li {
        width: 100%;
        text-align: center;
        justify-content: center;
        height: unset;
        padding: 5rem 0;
    }

    #nav-links li.active {
        border-bottom: none;
    }

    .nav-transition {
        transition: transform 0.6s;
    }

    .animation-off {
        -webkit-animation: none !important;
        animation: none !important;
    }

    @keyframes line-1 {
        from {
            transform: translate(0, 0);
        }

        50% {
            transform: translate(0, var(--half-hamburger-height));
        }

        to {
            transform: translate(0, var(--half-hamburger-height)) rotate(45deg);
        }
    }

    @keyframes line-2 {
        from {
            transform: scale(1);
        }

        to {
            transform: scale(0)
        }
    }

    @keyframes line-3 {
        from {
            transform: translate(0, 0);
        }

        50% {
            transform: translate(0, var(--negative-half-hamburger-height));
        }

        to {
            transform: translate(0, var(--negative-half-hamburger-height)) rotate(135deg);
        }
    }

    @keyframes line-1-rev {
        from {
            transform: translate(0, var(--half-hamburger-height)) rotate(45deg);
        }

        50% {
            transform: translate(0, var(--half-hamburger-height));
        }

        to {
            transform: translate(0, 0px);
        }
    }

    @keyframes line-2-rev {
        from {
            transform: scale(0);
        }

        to {
            transform: scale(1);
        }
    }

    @keyframes line-3-rev {
        from {
            transform: translate(0, var(--negative-half-hamburger-height)) rotate(135deg);
        }

        50% {
            transform: translate(0, var(--negative-half-hamburger-height));
        }

        to {
            transform: translate(0, 0px);
        }
    }


    #circuit-1 {
        width: 40%;
    }

    #circuit-5 {
        width: 54%;
        transform: translateY(27%);
    }

    #circuit-6 {
        width: 55%;
        top: 36rem;
    }

    header {
        font-size: var(--large);
        min-height: unset;
        padding: 20rem 0;
        position: relative;
    }

    #header-wave {
        right: -4rem;
        height: 70vh;
    }

    header .section-content {
        max-width: 70%;
        margin: 0 0 0 12rem;
    }

    #sub-header {
        padding-left: 0;
        flex-direction: column;
        min-height: unset;
    }

    #profile-pic {
        position: unset;
        margin-top: 8rem;
        width: 100%;
    }

    .toolbox {
        grid-template-columns: repeat(4, 25%);
    }

    .project-card {
        flex-direction: column;
        border: 1px solid #c0c0c044;
        border-radius: 1rem;
        background: linear-gradient(90deg, #5d667a96, #21315B96);
        height: unset;
        padding: 4rem;
    }

    .project-card h3 {
        margin: 2rem 0;
    }

    .technologies {
        max-width: 100%;
        flex-wrap: wrap;
        row-gap: 0;
    }

    .project-card .links {
        gap: unset;
        justify-content: space-between;
    }

    .project-card .links a {
        padding: 2rem;
    }

    .project-card img {
        max-width:
            100%;
    }

    .project-card-text {
        width: 100%;
    }

    #contact-container {
        flex-direction: column;
    }

    #contact-form {
        width: 100%;
    }

    #contact-icons {
        flex-direction: row;
        margin-top: 8rem;
        width: 100%;
        gap: 4rem;
        justify-content: center;
    }
}